.banner{
  display: block;
  position: relative;
  padding: 3rem 0;

  &__title{
    color: white;
    max-width: 380px;
    font-size: 2.35rem;
    letter-spacing: .3rem;
    font-family: $font-family-heading;

    &.text-center{
      text-align: center;
      margin: 0 auto;
    }
  }

  &--home{
    padding: 4.5rem 0;
    background:linear-gradient(150deg, rgba(27,27,27,0.5) 0%, rgba(27,27,27,0.5) 100%), url('./../images/home-banner.jpg') no-repeat center;
    background-size: cover;
  }

  &--favorite{
    padding: 3.5rem 0;
    background:linear-gradient(150deg, rgba(27,27,27,0.5) 0%, rgba(27,27,27,0.5) 100%), url('./../images/favorite-banner.jpg') no-repeat center;
    background-size: cover;
  }

  &--resto{
    padding: 3.5rem 0;
    background:linear-gradient(150deg, rgba(27,27,27,0.5) 0%, rgba(27,27,27,0.5) 100%), url('./../images/resto-banner.jpg') no-repeat center;
    background-size: cover;
  }

  @include breakpoint-screen-min('sm'){
    &__title{
      max-width: 600px;
    }
  }

  @include breakpoint-screen-min('md'){
    &__title{
      font-size: 3.75rem;
      letter-spacing: .5rem;
      max-width: 850px;
    }

    &--home{
      padding: 6.5rem 0;
    }
  }
}