@keyframes placeholder-animation{
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}

.placeholder{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-muted);
  overflow: hidden;
  border-radius: .3rem;
  cursor: wait;

  & > .animation{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include animate('placeholder-animation', '1.5s', 'normal', 'infinite');
    @include linear-gradient('to left', ('#{$placeholder-animation}, .03)', '#{$placeholder-animation}, .2)', '#{$placeholder-animation}, .3)', '#{$placeholder-animation}, .2)', '#{$placeholder-animation}, .03)'));  
  }
}