<!DOCTYPE html>
<html lang="en">
<head  prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Any Foods Or Restaurants at Ganyem</title>
  <meta name="description" content="Easy online ordering for delicious meals. Taste the difference of our authentic homemade cuisine. Order now!">
  <meta name="author" content="Rizki Adi (k1adi)">

  <!-- Meta Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en-US" />
  <meta property="og:url" content="/">
  <meta property="og:title" content="Find Any Foods Or Restaurants at Ganyem" />
  <meta property="og:description" content="Easy online ordering for delicious meals. Taste the difference of our authentic homemade cuisine. Order now!" />
  <meta property="og:image" content="./../images/ganyem-logo.png"/>
  <meta property="og:image:secure_url" content="./../images/ganyem-logo.png" />
  <meta property="og:image:type" content="image/jpeg"/>
  <meta property="og:image:alt" content="Ganyem logo"/>

  <!-- Meta Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Ganyem" />
  <meta name="twitter:description" content="Easy online ordering for delicious meals. Taste the difference of our authentic homemade cuisine. Order now!" />
  <meta name="twitter:image" content="./../images/ganyem-logo.png" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chewy&family=Rubik:wght@300;400;500;600&family=Catamaran:wght@300&display=swap" rel="stylesheet">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/2678a3056c.js" crossorigin="anonymous"></script>
</head>
<body class="app dark">
  <header class="app__header">
    <button id="skip-to-content">Skip to Main Content</button>
    <app-navbar class="container--wrap"></app-navbar>
  </header>
  <main class="app__content">
  </main>
  <footer class="app__footer">
    <app-footer class="footer"></app-footer>
  </footer>
</body>
</html>
