@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/mixins';

// 2. Vendors

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/navbar',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/banner',
  'components/card',
  'components/swiper',
  'components/placeholder',
  'components/toast',
  'components/form';

// 6. Page-specific styles
@import
  'pages/detail',
  'pages/error';

// 7. Themes
